{% extends 'base.html' %}

{% block sidebar %}
  <ul>
    {% if not categories %}
    <li>Looks like you don't have any categories, why don't you add one?</li>
    {% endif %}

    {% for i in categories %}
    <li><a href="{{ url_for('showItems', category_id=i.id) }}">{{ i.name }}</a></li>
    {% endfor %}
  </ul>

  <a href="{{ url_for('addCategory') }}">Add New Category</a>
{% endblock %}

{% block content %}

    <h2>Latest Category Items</h2>
    <ul>
      {% if not latest_items %}
      <li>Looks like you don't have any items.  Create or select a category and add one!</li>
      {% endif %}

      {% for i in latest_items %}
      <li><a href="{{ url_for('showItem', category_id=i.category_id, item_id=i.id) }}">{{ i.name }}</a></li>
      {% endfor %}
    </ul>

{% endblock %}
