{% extends 'base.html' %}

{% block sidebar %}
    <ul>
      {% for i in categories %}
      <li><a href="{{ url_for('showItems', category_id=i.id) }}">{{ i.name }}</a></li>
      {% endfor %}
    </ul>

    <div>
      <a href="{{ url_for('addCategory') }}">Add New Category</a>
    </div>
    <div>
      <a href="{{ url_for('showCategories') }}">Back to All Categories</a>
    </div>
{% endblock %}

{% block content %}

    <h2>{{ category.name }} Items (Total Items {{ categoryItems | length }})</h2>
    <ul>
      {% if not categoryItems %}
        <li>Looks like you don't have any categories items.
          {% if 'username' in session %}<br><br>Why don't you add one?{% endif %}</li>
      {% endif %}

      {% for i in categoryItems %}
      <li><a href="{{ url_for('showItem', category_id=i.category_id, item_id=i.id) }}">{{ i.name }}</a></li>
      {% endfor %}
    </ul>

    {% if 'username' in session and isCreator %}
      <div>
        <a href="{{ url_for('editCategory', category_id=category_id) }}">Edit Category</a>
      </div>
      <div>
        <a href="{{ url_for('deleteCategory', category_id=category_id) }}">Delete Category</a>
      </div>
      <div>
        <a href="{{ url_for('addItem', category_id=category_id) }}">Add New Category Item</a>
      </div>
    {% endif %}
{% endblock %}
