<!doctype html>

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  {% block head %}{% endblock %}
</head>

<body class="container">

  {% include 'header.html' %}

  {% include 'messages.html' %}

  <main class="row">

      {% if self.sidebar() %}
      <section class="col-sm-4 sidebar">
        {% block sidebar %}{% endblock %}
      </section>
      {% endif %}

      {% if self.content() %}
      <section class="col-sm-8 content">
        {% block content %}{% endblock %}
      </section>
      {% endif %}

  </main>
</body>
</html>
