<html>

<head></head>

<body>

<header></header>

<main>
  <section>
    <ul>
      {% for i in categories %}
      <li><a href="{{ url_for('showCategoryItems', category_id=i.id) }}">{{ i.name }}</a></li>
      {% endfor %}
    </ul>

    <a href="{{ url_for('addCategory') }}">Add New Category</a>
  </section>

  <section>

    <h2>{{ category.name }} Items (Total Items {{ categoryItems | length }})</h2>
    <ul>
      {% if not categoryItems %}
        <li>Looks like you don't have any categories items, why don't you add one?</li>
      {% endif %}

      {% for i in categoryItems %}
      <li><a href="{{ url_for('showItem', category_id=i.category_id, item_id=i.id) }}">{{ i.name }}</a></li>
      {% endfor %}
    </ul>

    <a href="{{ url_for('addItem', category_id=category_id) }}">Add New Category Item</a>

    <a href="{{ url_for('editCategory', category_id=category_id) }}">Edit Category</a>

  </section>

</main>

<footer></footer>
</body>
</html>
